<template>
    <div>
        <v-container grid-list-md>
            <v-layout grid wrap>
                <v-flex xs3>
                    <v-text-field v-model="room_number" label="Room Number"></v-text-field>
                </v-flex>
            </v-layout>
        </v-container>
        <api-request
                :pouchdb-source="pouch"
                :response="response"
                @execute="execute"
        ></api-request>
    </div>
</template>

<script>
    import ApiRequest from "../components/ApiRequest";
    import {roomAllocations} from "../db";

    export default {
        name: "Room Allocation",
        components: {ApiRequest},
        data: () => ({
            room_number: "",
            response: ""
        }),
        computed: {
            pouch() {
                return `
roomAllocations = PouchDB("hospital_room_allocations");
roomAllocations.find({
    selector: {
        _id: "` + this.room_number + `"
    }
})
`
            },
            doc() {
                return {
                    _id: this.room_number,
                }
            }
        },
        methods: {
            async execute() {
                this.response = await roomAllocations.find({
                    selector: {
                        room_id: this.room_number
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
