<template>
    <api-request
            :http-source="rawHttp"
            :pouchdb-source="pouch"
            :response="response"
            @execute="execute"
    ></api-request>
</template>

<script>
    import ApiRequest from "../components/ApiRequest";
    import {users} from "../db";

    export default {
        name: "List",
        components: {ApiRequest},
        data: () => ({
            response: "",
            pouch: `
users = PouchDB("hospital_users");
await users.allDocs({include_docs: true});
`
        }),
        methods: {
            async execute() {
                this.response = await users.allDocs({include_docs: true});
            }
        }
    }
</script>

<style scoped>

</style>
