<template>
    <div>
        <v-container grid-list-md>
            <v-layout grid wrap>
                <v-flex xs3>
                    <v-text-field v-model="username" label="Username"></v-text-field>
                </v-flex>
            </v-layout>
        </v-container>
        <api-request
                :pouchdb-source="pouch"
                :response="response"
                @execute="execute"
        ></api-request>
    </div>
</template>

<script>
    import ApiRequest from "../components/ApiRequest";
    import {prescriptions} from "../db";
    import {medicines} from "../db";

    export default {
        name: "Appointments",
        components: {ApiRequest},
        data: () => ({
            username: "",
            response: ""
        }),
        computed: {
            pouch() {
                return `
prescriptions = PouchDB("hospital_prescriptions");
medicines = PouchDB("hospital_medicines");
prescriptions.find({
  selector: {
        _id: {
            $regex: "appointment\\$` + this.username + `\\$.*"
        }
    }
}).then(function (result) {
    if(!result.docs.length)
    {
        return {};
    }
    return medicines.find({
        selector: {
            _id: {
                $in: result.docs[0].medicine_ids,
            }
        }
    }).then(function (result) {
        return result;
    })
});
`
            },
            doc() {
                return {
                    _id: this.username,
                }
            }
        },
        methods: {
            async execute() {
                this.response = await prescriptions.find({
                    selector: {
                        _id: {
                            $regex: "appointment\\$" + this.username + "\\$.*"
                        }
                    }
                }).then(function (result) {
                    if(!result.docs.length)
                    {
                        return {};
                    }
                    return medicines.find({
                        selector: {
                            _id: {
                                $in: result.docs[0].medicine_ids,
                            }
                        }
                    }).then(function (result) {
                        return result;
                    })
                });
            }
        }
    }
</script>

<style scoped>

</style>
