<template>
    <api-request
            :pouchdb-source="pouch"
            :response="response"
            @execute="execute"
    ></api-request>
</template>

<script>
    import ApiRequest from "../components/ApiRequest";
    import {users} from "../db";

    export default {
        name: "List",
        components: {ApiRequest},
        data: () => ({
            response: "",
            pouch: `
users = PouchDB("hospital_users");
await users.find({
    selector: {type: "doctor"}
});
`}),
        methods: {
            async execute() {
                this.response = await users.find({
                    selector: {type: "doctor"}
                });
            }
        }
    }
</script>

<style scoped>

</style>
