<template>
    <v-navigation-drawer>
        <v-list>
            <v-list-tile to="/">
                <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile>
            <v-list-tile
                    v-for="query in queries"
                    :key="query.slug"
                    :to="queryLink(query)"
            >
                <v-list-tile-title>
                    {{ query.title }}
                </v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import queries from "../queries";
    export default {
        name: "Navigation",
        data: () => ({
            queries
        }),
        methods: {
            queryLink(query) {
                return `/${query.slug}`;
            }
        }
    }
</script>

<style scoped>

</style>
