<template>
    <div>
        <v-container grid-list-md>
            <v-layout grid wrap>
                <v-flex xs3><v-text-field v-model="username" label="Username"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="name" label="Name"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="email" label="Email"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="date_of_birth" label="Date of birth"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="address.country" label="Address country"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="address.zipcode" label="Address zipcode"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="address.city" label="Address city"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="address.building" label="Address building"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="address.apartment" label="Address apartment"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model.number="height" label="Height (cm)"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model.number="weight" label="Weight (kg)"></v-text-field></v-flex>
                <v-flex xs3><v-text-field v-model="password" label="Password hash (pbkdf2 sha256)"></v-text-field></v-flex>
            </v-layout>
        </v-container>
        <api-request
                :pouchdb-source="pouch"
                :response="response"
                @execute="execute"
        ></api-request>
    </div>
</template>

<script>
    import ApiRequest from "../components/ApiRequest";
    import {users} from "../db";

    export default {
        name: "Register",
        components: {ApiRequest},
        data: () => ({
            username: "",
            name: "",
            email: "",
            date_of_birth: "",
            address: {
                country: "",
                zipcode: "",
                city: "",
                street: "",
                building: "",
                apartment: ""
            },
            password: "",
            height: 0,
            weight: 0,

            response: ""
        }),
        computed: {
            pouch() {
                return `
users = PouchDB("hospital_users");
users.put(${JSON.stringify(this.doc, null, 4)});
`
            },
            doc() {
                return {
                    _id: this.username,
                    patient: {
                        height: this.height,
                        weight: this.weight
                    },
                    user: {
                        username: this.username,
                        name: this.name,
                        email: this.email,
                        date_of_birth: this.date_of_birth,
                        address: this.address,
                        password: this.password
                    }
                }
            }
        },
        methods: {
            async execute() {
                this.response = await users.put(this.doc);
            }
        }
    }
</script>

<style scoped>

</style>
