<template>
    <div>
        <vl-map style="height: 400px" data-projection="EPSG:4326"
                    @click="setCoords">
            <vl-view
                    :zoom.sync="mapZoom"
                    :center.sync="mapCenter"
                    :rotation.sync="mapRotation"
            ></vl-view>
            <vl-layer-tile>
                <vl-source-osm></vl-source-osm>
            </vl-layer-tile>
            <vl-feature v-for="feature in features">
                <vl-geom-polygon
                        :coordinates="feature"
                ></vl-geom-polygon>
            </vl-feature>
            <vl-feature>
                <vl-geom-point :coordinates="coords"></vl-geom-point>
            </vl-feature>
        </vl-map>
        <v-container grid-list-md>
            <v-layout row>
                <v-flex xs3>
                    <v-text-field label="Latitude" v-model="coords[0]"></v-text-field>
                </v-flex>
                <v-flex xs3>
                    <v-text-field label="Longitude" v-model="coords[1]"></v-text-field>
                </v-flex>
            </v-layout>
        </v-container>
        <api-request
                :pouchdb-source="pouch"
                :response="response"
                @execute="execute"
        ></api-request>
    </div>
</template>

<script>
    import {users} from "../db";
    import ApiRequest from "../components/ApiRequest";

    export default {
        name: "SpatialWorkingGeometry",
        components: {ApiRequest},
        data: () => ({
            mapZoom: 10,
            mapCenter: [49.247, 55.75],
            mapRotation: 0,
            coords: [49.247, 55.75],
            response: "",
            features: [],
        }),
        computed: {
            pouch() {
                return `
PouchDB.plugin(geopouch);
users = PouchDB("hospital_users");
users.spatial(
    function (doc) {
        if (doc && doc.doctor && doc.doctor.working_geometry) {
            emit(doc.doctor.working_geometry);
        }
    },
    [${JSON.stringify(this.coords)}, ${JSON.stringify(this.coords)}],
    {include_docs: true}
)`
            }
        },
        methods: {
            async execute() {
                this.features = [];
                this.response = await users.spatial(
                    function (doc) {
                        if (doc && doc.doctor && doc.doctor.working_geometry) {
                            emit(doc.doctor.working_geometry);
                        }
                    },
                    [this.coords, this.coords],
                    {include_docs: true}
                );
                for (const doctor of this.response) {
                    this.features.push(doctor.doc.doctor.working_geometry.coordinates);
                }
            },
            setCoords(event) {
                this.coords = event.coordinate;
            }
        }
    }
</script>

<style scoped>

</style>
