<template>
    <div>
        <v-container>
            <pre v-highlightjs="pouchdbSource"><code class="javascript"></code></pre>
            <v-btn @click="onExecute">
                execute
            </v-btn>
            <br>
            Response:
            <pre v-highlightjs="JSON.stringify(response, null, 4)"><code class="json"></code></pre>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "ApiRequest",
        props: ["httpSource", "pouchdbSource", "response"],
        data: () => ({
            activeTab: 0
        }),
        methods: {
            onExecute() {
                this.$emit("execute");
            }
        }
    }
</script>

<style scoped>

</style>
