<template>
    <v-app>
        <v-layout>
            <v-flex xs2>
                <navigation></navigation>
            </v-flex>
            <v-flex xs10>
                <v-content>
                    <router-view></router-view>
                </v-content>
            </v-flex>
        </v-layout>
    </v-app>
</template>

<script>
    import Navigation from "./views/Navigation";
    export default {
        components: {Navigation}
    }
</script>
